

:root {
  
  line-height: 1.5;
  background-color: #F6F6F6;

}

#app {
  display: flex;
}

body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Konkhmer Sleokchher', system-ui;
  font-weight: 400;  
}

body{
  color: #252525;
  
}


aside {
  border-left: 1px solid #D3D6DB;
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 260px;
  height: 100vh;
  border-right: 1px solid #D3D6DB;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.aside-header,
h3 {
  padding: 0 10px;
  color: #65758C;
  font-size: 1rem;
}

.aside-header {
  width: 100%;
  height: 64px;
  color: #4361EE;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  gap: .5em;

  h2 {
    font-size: 1rem;
  }

  svg {
    width: 2em;
    height: auto;
  }
}

h3 {
  color: #65758C;
}

nav {
  width: 100%;
}

nav ul {
  padding: 0;
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  color: #475569;
  display: flex;
  flex-direction: column;
  gap: 4px;

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5em;
    padding: 3px 10px;
    border-radius: 8px;

    &:hover,
    &:active {
      background-color: #d9dffc;

    }
    h3{
      margin: 0;
      padding: 0;
      line-height: 1.5;
      color: #475569;

    }

    svg{
      height: 1.25rem;
      width: 1.25rem;
    }
 
  }
}

.user {

  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  align-self: stretch;
}

.account {
  display: flex;
  gap: 10px;
  border-top: 1px solid #D3D6DB;
  padding: 20px 10px 0;

  .user-role {
    h4 {
      color: #252525;
      font-size: 1rem;
    }

    h5 {
      color: #65758C;
      font-size: .75rem;
      line-height: 10px;
    }
  }
}


.cerrar-sesion {
  color: #ED421B;
  font-weight: bold;
  display: flex;
  gap: 10px;
  padding: 3px 10px;
  border-radius: 8px;

  &:hover,
  &:active {

    background-color: #fbd9d1;
  }
}

main {
  flex: 1;
  padding: 20px;
}

.bento{
  header{
    background-color: aqua;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-button{
      width: auto;
      display: inherit;
      justify-content: space-between;
      align-items: center;
      gap: 15px;

      
    }
  }
}

button{
  box-sizing: content-box;
  border: none;
  width: auto;
  padding: 10px;
  height: 30px;
  border-radius: 8px;
  color: #fff;
  background-color: #4361EE;
  display: inherit;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover, button:active{
  background-color: #5570ef;
}

.add-producto{
  background-color: #D3D6DB;
  color: #252525;
}

.selected, .selected:hover, .primero:active{
  background-color: #6981F1;
  color: #fff;
  h3{
    color: inherit;
  }
} 


.card-container{
  margin-top: -20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  

  .card{
    background-color: #FFFFFF;
    border: 1px solid #D3D6DB;
    border-radius: 1rem;
    font-size: 1rem;
    color: #65758C;
    padding: 18px 20px;
    height: 140px;
  }

  h2{
    color: #252525;
    font-size: 2rem;
  }
}

.resume-container{
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 20px;

  .resume{
    background-color: #FFFFFF;
    border: 1px solid #D3D6DB;
    border-radius: 1rem;
    font-size: 1rem;
    color: #65758C;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 1.125em 1.25em;

    h2{
      color: #252525;
      font-size: 2rem;
    }
  }

  .weekly{

    svg{
      align-self: flex-start;
      cursor: pointer;
    }

    span{
      color: #009C00;
    }

    .stats{
      height: 100%;
      width: 100%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: end;
      gap: 5px;

      .day{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 10px;
        height: 100%;

        .bar{
          width: 90%;
          height: 50%;
          background-color: #b4c0f8;
          border-radius: 1rem 1rem 0px 0px;
        }

        

        span{
          font-size: 1rem;
          color: #65758C;
        }
      }

      .selected-day {
        .bar{
          background-color: #4361EE;
          height: 80%;
        }

        span{
          color: #252525;
        }
      }
    }

    
  }

  .ventas{

    header{
      font-size: 1.125rem;
      color: #252525;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;

      .textos{
        width: 100%;
        font-size: .875rem;
        color: #475569;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .text-orden{
          width: 120px;
        }

        .text-metodo{
          width: 140px;
        }

        .text-costo{
          width: 100px;
          text-align: end;
        }
      }

    }
  }

}